<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerLinks}}
</head>

<body>
    {{>navbar}}

    <!-- main header  -->
    <div class="main_header">

        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                             
                        </figure>

                    </div>

                    <div class="col-md-6 col-12 main_header_left">
                        
                       <center> <h1>The weather app enables you make better preparation for the day in relation to giving accurate daily weather forecast. </h1></center>
                        
                    </div>
                </div>

            </div>
        </div>

    </div>

    <!-- footer -->

    <footer>
        <p>
            WeatherApplication
        </p>
    </footer>
</body>

</html>